angular-form/.idea/workspace.xml
angular-form/.idea/angular-form.iml
angular-form/.idea/modules.xml
angular-form/.idea/jsLibraryMappings.xml
.idea/
angular-form/npm-debug.log
angular-form/node_modules
npm-debug.log