<div class="prodduct">
    <div class="prodSearchDiv">
        <label>{{'Product.search_prod' | translate}}</label>
        <input type="text">
        <button (click)="searchProd()">搜尋</button>
        <!--<myDialog></myDialog>-->
    </div>

    <div class="content">
        <div class="list-header">
            <div class="list-header-row">{{'Product.prodCode' | translate}}</div>
            <div class="list-header-row">{{'Product.compCode' | translate}}</div>
            <div class="list-header-row">{{'Product.salesPrice' | translate}}</div>
            <div class="list-header-row">{{'Product.status' | translate}}</div>
            <div class="list-header-row">{{'Product.remark' | translate}}</div>
        </div>
        <div class="list-content" *ngFor="let prod of Product">
            <div class="list-content-row">{{prod.id.prodCode}}</div>
            <div class="list-content-row">{{prod.id.compCode}}</div>
            <div class="list-content-row">{{prod.salesPrice}}</div>
            <div class="list-content-row">{{prod.status}}</div>
            <div class="list-content-row">{{prod.description}}</div>
        </div>
    </div>
    <!--<div class="prodContent">-->
    <!--<div *ngFor="let prod of Product">-->
    <!--<img [src]="prod.pic" (click)="showDetail(prod)">-->
    <!--<div *ngIf="prod.disabled">-->
    <!--<p>名稱:<label>{{prod.name}}</label></p>-->
    <!--<p>產地:<label>{{prod.origin}}</label></p>-->
    <!--<p>方式<label>{{prod.planway}}</label></p>-->
    <!--<p><a>查看詳情</a></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>