<div class="prodduct">
    <div class="prodSearchDiv">
        <label>{{'Product.search_prod' | translate}}</label>
        <input type="text" placeholder="關鍵字" [(ngModel)]="keyword">
        <button (click)="searchProd()">搜尋</button>
        <button (click)="insertProd()">新增</button>
        <button (click)="updateProd()">更新</button>
        <button (click)="deleteProd()">刪除</button>
        <input type="text" [(ngModel)]="salesPrice">
        <!--<myDialog></myDialog>-->
    </div>

    <div class="content">
        <div class="list-header">
            <div class="list-header-row">{{'Product.prodCode' | translate}}</div>
            <div class="list-header-row">{{'Product.compCode' | translate}}</div>
            <div class="list-header-row">{{'Product.salesPrice' | translate}}</div>
            <div class="list-header-row">{{'Product.status' | translate}}</div>
            <div class="list-header-row">{{'Product.remark' | translate}}</div>
        </div>
        <div class="list-content" *ngFor="let prod of Product">
            <div class="list-content-row">
                <input type="checkbox" [(ngModel)]="prod.selected" (change)="selectProd(prod)">
                <label>{{prod.id.prodCode}}</label>
            </div>
            <div class="list-content-row">{{prod.id.compCode}}</div>
            <div class="list-content-row">{{prod.salesPrice}}</div>
            <div class="list-content-row">{{prod.status}}</div>
            <div class="list-content-row">{{prod.description}}</div>
        </div>
    </div>
</div>