<div>
    <h1 i18n="User welcome|An introduction header for this sample">This is Fintech Content</h1>


    <!--左邊圖框-->
    <div>
        <h3>圖片區</h3>
        <button (click)="search()">FarmInfo</button>
        <open-win></open-win>
    </div>
    <!--右邊文字-->
    <div>
        <!--標題-->
        <div>
            <a>標題</a>
            <ul *ngIf="myNews">
                <li *ngFor="let news of myNews">
                    <div>
                        <a>{{news.Title}}</a>
                    </div>
                    <div>
                        <a>{{news.name}}</a>
                    </div>
                    <div>
                        <a>{{news.data}}</a>
                    </div>
                </li>
            </ul>
            <a>標題2</a>
        </div>

        <!--文章摘要-->
        <div>
            <h1>內文</h1>
        </div>

        <!--作者-->
        <div>
            <h4>作者資訊</h4>
        </div>
    </div>
</div>