<div>
    <router-outlet></router-outlet>
    <!--<h1 myHighLight [tooltip]="title" >{{title}}</h1>-->
    <!--<button (click)="getAngularInfo()">click me</button>-->

    <!--<div [ngGrid]="{'resizeable': false, 'margins': [5, 10]}">-->
        <!--&lt;!&ndash;[(ngGridItem)]="box.config"&ndash;&gt;-->
        <!--<div *ngFor="let box of boxes" [(ngGridItem)]="box.config">-->
            <!--<div class="title">{{box.title}}</div>-->
            <!--<p>{{box.text}}</p>-->
        <!--</div>-->
    <!--</div>-->
</div>